/* Reset default styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-image: url("../../assets/img/bglp.gif");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: #333;
    line-height: 1.6;
}

header {
    background-color: #000;
    color: #6e6c6c;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.logo img {
    height: 50px; /* Adjust logo size */
}

nav ul {
    list-style-type: none;
    display: flex;
}

nav ul li {
    margin-right: 15px;
}

nav ul li a button {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

nav ul li a button:hover {
    background-color: #d63031; /* Darker red on hover */
}

main.container {
    padding: 20px;
}

.hero {
    height: calc(100vh - 40px); /* Subtract the header height */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
}

.hero-content {
    max-width: 800px;
    color: #fff;
}

.hero-content h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

.hero-content h2 {
    font-size: 2em;
    margin-bottom: 20px;
}

.hero-content p {
    font-size: 1.2em;
    margin-bottom: 20px;
}

.buttons {
    margin-top: 30px;
}

.button-primary {
    background-color: #4CAF50;
    color: #fff;
}

.button-secondary {
    background-color: #008CBA;
    color: #fff;
}

footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}
