/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #ffffff;
    color: #333;
    background-image: url("../../page2/css/img/background-image.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Header styles */
.header {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1000;
}

.header .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    max-width: 1200px;
    padding: 0 20px;
}

.header .btn {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-right: 15px;
}

.header .btn:hover {
    background-color: #777;
}

.header .btn.active {
    background-color: #777;
}

/* Main section styles */
main {
    padding: 80px 20px 20px; /* Adjust padding to account for fixed header */
}

.hero-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: #ff06e6;
    text-align: center;
    overflow: hidden;
}

.hero-content {
    max-width: 800px;
    padding: 20px;
    border-radius: 10px;
    background: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hero-content h1 {
    font-family: 'Oswald', sans-serif;
    font-size: 3em;
    margin: 10px 0;
}

.image-and-text {
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: center;
}

.hero-content .center-logo {
    width: 150px;
    height: auto;
    border-radius: 10px;
}

.text-container {
    max-width: 500px;
    text-align: left;
}

.text-container p {
    font-family: 'Roboto', sans-serif;
    font-size: 1.2em;
    margin: 10px 0;
}

/* Footer styles */
footer {
    color: #080808;
    text-align: center;
    padding: 20px;
}

footer .social-links {
    list-style-type: none;
    padding: 0;
}

footer .social-links li {
    display: inline;
    margin: 0 10px;
}

footer .social-links li a button {
    background-color: pink;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    font-family: 'Oswald', sans-serif;
}

.extra-footer {
    margin-top: 20px;
}
