/* Reset default browser styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styles */
body {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.6;
    background-image: url('../../../assets/img/'); /* Add your background image here */
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
}

/* Header styles */
.header {
    background-color: #000000;
    color: #6e6c6c;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header .btn {
    background-color: #555;
    color: #fff;
    border: none;
    padding: 0.5rem 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-decoration: none;
    margin-right: 15px;
}

.header .btn:hover {
    background-color: #777;
}

.header .btn.active {
    background-color: #777;
}

/* Main section styles */
.main {
    padding: 20px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Comic Book Style Hero Gallery */
.hero-gallery-comic {
    background-color: #fff;
    padding: 4rem;
    margin-bottom: 2rem;
    text-align: center;
    border: 2px solid #000;
    box-shadow: 10px 10px 0 #777;
}

.hero-gallery-comic h1 {
    font-size: 3rem;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #333;
}

.hero-gallery-comic h2 {
    font-size: 1.8rem;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    margin-bottom: 1.5rem;
    color: #555;
}

.hero-comic-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comic-intro {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 2rem;
}

.comic-intro img {
    max-width: 200px;
    margin-right: 2rem;
    border: 2px solid #000;
}

.comic-intro p {
    font-size: 1.1rem;
    text-align: left;
    max-width: 600px;
    color: #333;
}

.comic-gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 1rem;
    max-width: 800px;
}

.comic-gallery img {
    max-width: 100%;
    border: 2px solid #000;
}
