.card3 {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
  }
  
  /* Flexbox layout for cards */
  .ag-courses_box {
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  
  /* Individual card style */
  .ag-courses_item {
    flex-basis: calc(33.333% - 30px);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  /* Link within card */
  .ag-courses-item_link {
    display: block;
    padding: 30px 20px;
    background-color: #121212;
    color: white;
    text-decoration: none;
    position: relative;
    border-radius: 15px;
  }
  
  .ag-courses-item_bg {
    background: linear-gradient(135deg, #ff7e5f, #feb47b);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.1;
  }
  
  .ag-courses-item_title {
    font-size: 2rem;
    margin-bottom: 15px;
    z-index: 2;
    position: relative;
    font-style: "Poppins";
  }
  
  .ag-courses-item_date-box {
    font-size: 0.9rem;
    color: #bbb;
    z-index: 2;
    position: relative;
    margin-bottom: 20px;
  }
  
  .ag-courses-item_date {
    font-weight: bold;
    color: white;
  }
  
  .ag-courses-item_button {
    display: inline-block;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #ff7e5f;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    z-index: 2;
    position: relative;
  }
  